[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-sanic = "*"
sanic-openapi = "*"
black = ">=18.9b0" 

[packages]
roku = "*"
sanic = "*"

[requires]
python_version = "3.6"
